<Configuration status="ERROR">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} %5p |%X{test-name}| - [%c{1}] %t - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <!--<Logger name="com.hazelcast.instance" level="debug"/>-->
        <!--<Logger name="com.hazelcast.cluster" level="debug"/>-->
        <!--<Logger name="com.hazelcast.internal.cluster" level="debug"/>-->
        <!--<Logger name="com.hazelcast.internal.partition" level="debug"/>-->
        <!--<Logger name="com.hazelcast.internal.hotrestart.cluster" level="debug"/>-->
        <!--<Logger name="com.hazelcast.test.mocknetwork" level="debug"/>-->
        <Logger name="com.hazelcast.client.impl.protocol.task" level="debug"/>
        <Logger name="com.hazelcast.client.impl.operations" level="debug"/>
        <!--<Logger name="com.hazelcast.client.impl.spi.ClientClusterService" level="trace"/>-->
        <!--<Logger name="com.hazelcast.client.impl.spi.ClientInvocationService" level="trace"/>-->
        <!--<Logger name="com.hazelcast.client.impl.connection.ClientConnectionManager" level="trace"/>-->
        <Logger name="io.vertx" level="info"/>
        <Logger name="apodrating" level="trace"/>
    </Loggers>
</Configuration>