openapi: '3.0.0'
info:
  version: 1.1.0
  title: apodrating
  description: "The apod rating app lets you rate NASA's Astronomy Picture of the Day and view ratings for them."
servers:
#  - url: http://localhost:8081
  - url: https://localhost:8443
paths:
  /apod:
    x-vertx-event-bus:
      address: apod_query_service.apod
      timeout: 2000
    post:
      summary: create an apod with the specified date
      operationId: postApod
      x-vertx-event-bus:
        method: postApod
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        description: The apod you want to set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApodRequest'
      responses:
        '201':
          description: Apod entry created
          headers:
            location:
              schema:
                type: string
              description: The location of the created resource.
        '409':
          description: Apod entry already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Apod entry could not be created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    get:
      summary: get all apods
      operationId: getApods
      x-vertx-event-bus:
        method: getApods
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: An array of apods or an empty array, if no data is available.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Apod'
              examples:
                array-with-3-apods:
                  value: {
                           apods: [
                           {
                             "id": "1",
                             "title": "Fresh Tiger Stripes on Saturn's Enceladus",
                             "dateString": "2018-07-01",
                             "imageUriHd": "https://apod.nasa.gov/apod/image/1807/enceladusstripes_cassini_3237.jpg"
                           },
                           {
                             "id": "2",
                             "title": "A Full Sky Aurora Over Norway",
                             "dateString": "2017-01-01",
                             "imageUriHd": "https://apod.nasa.gov/apod/image/1701/aurora_voltmer_1920.jpg"
                           },
                           {
                             "id": "0",
                             "title": "Vela Supernova Remnant Mosaic",
                             "dateString": "2019-01-10",
                             "imageUriHd": "https://apod.nasa.gov/apod/image/1901/Vela-DSS-New-L.jpg"
                           }
                           ]
                  }

        '500':
          description: the request could not be completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /apod/{apodId}:
    x-vertx-event-bus:
      address: apod_query_service.apod
      timeout: 2000
    get:
      summary: get an apod for the specified date
      operationId: getApodForId
      x-vertx-event-bus:
        method: getApodForId
      security:
        - ApiKeyAuth: []
      parameters:
        - name: apodId
          in: path
          required: true
          description: the id of the picture
          schema:
            type: string
            pattern: '^\d+$'
      responses:
        '200':
          description: the picture's title and hd uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Apod'
              example:
                value: {
                  "id": "1",
                  "title": "Fresh Tiger Stripes on Saturn's Enceladus",
                  "dateString": "2018-07-01",
                  "imageUriHd": "https://apod.nasa.gov/apod/image/1807/enceladusstripes_cassini_3237.jpg"
                }
        '400':
          description: the last segement of the request path is not an integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: the requested apod could not be found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /apod/{apodId}/title:
    x-vertx-event-bus:
      address: apod_query_service.apod
      timeout: 2000
    get:
      summary: get the apod's title
      operationId: getApodTitle
      x-vertx-event-bus:
        method: getApodTitle
      security:
        - ApiKeyAuth: []
      parameters:
        - name: apodId
          in: path
          required: true
          description: the id of the apod
          schema:
            type: string
            pattern: '^\d+$'
      responses:
        '200':
          description: the requested apod title
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TextObject'
        '400':
          description: the last segement of the request path is not an integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: A rating for this Apod entry does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Request could not be completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /apod/{apodId}/rating:
    x-vertx-event-bus:
      address: rating_service.apod
      timeout: 2000
    get:
      summary: get apod rating
      operationId: getRating
      x-vertx-event-bus:
        method: getRating
      parameters:
        - name: apodId
          in: path
          required: true
          description: the id of the apod
          schema:
            type: string
            pattern: '^\d+$'
      responses:
        '200':
          description: the requested apod
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
        '400':
          description: the last segement of the request path is not an integer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: A rating for this Apod entry does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Request could not be completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    put:
      summary: set apod rating
      operationId: putRating
      x-vertx-event-bus:
        method: putRating
      parameters:
        - name: apodId
          in: path
          required: true
          description: the id of the apod
          schema:
            type: string
            pattern: '^\d+$'
      requestBody:
        required: true
        description: The rating you want to set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatingRequest'
      responses:
        '204':
          description: Rating changed
        '400':
          description: the last segement of the request path is not an integer or an invalid rating value was supplied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Apod entry does not exist
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  securitySchemes:
    ApiKeyAuth:        # arbitrary name for the security scheme
      type: apiKey
      in: header       # can be "header", "query" or "cookie"
      name: X-API-KEY  # name of the header, query parameter or cookie
  schemas:
    Apod:
      description: the apod data object
      required:
        - id
        - title
      properties:
        id:
          description: The unique id of this apod
          readOnly: true
          type: string
        dateString:
          description: The date string of this apod
          readOnly: true
          type: string
        title:
          description: The title of this apod
          readOnly: true
          type: string
        imageUriHd:
          description: The uri of this image in hd resolution
          readOnly: true
          type: string
          nullable: true
    RatingRequest:
      description: An Apod rating request payload
      required:
        - rating
      properties:
        rating:
          description: The title of this apod
          type: integer
          format: int32
          minimum: 1
          maximum: 10
    ApodRequest:
      description: a create apod request payload
      required:
        - dateString
      properties:
        dateString:
          description: The date string of this apod
          type: string
          pattern: '^([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01]))$'
          readOnly: true
    Rating:
      description: an apod rating
      required:
        - id
        - rating
      properties:
        id:
          description: The unique id of this apod
          readOnly: true
          type: integer
          format: int32
        rating:
          description: The title of this apod
          type: integer
          format: int32
    TextObject:
      description: plain text title of the apod
      required:
        - text
      properties:
        text:
          description: the text
          type: string
          readOnly: true
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string

